# Reading Files

Excel
HTML
SQL
CSV

In [1]:
import pandas as pd

In [3]:
pd.read_excel('Excel_Sample.xlsx')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [4]:
dataFrm = pd.read_excel('Excel_Sample.xlsx')

In [5]:
# This will save the DataFrame to an Excel file named 'My_Output.xlsx'.
dataFrm.to_excel('My_Output.xlsx', index=False)

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [6]:
pd.read_excel("Excel_Sample.xlsx",sheet_name="Sheet1")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15